<div class="flex gap-2 items-center p-4 bg-gray-100 font-sans">
    <p class="flex align-center ml-6 text-gray-800">procurar produto: </p>
    <input type="text" class="border ml-2">
    <!-- //aonde o modal vai ser aberto -->
    <button (click)="addProduct()" class="bg-green-500 text-white px-3 py-1 rounded ml-6">+</button>
</div>

<table class="min-w-full bg-white">
    <thead>
        <tr>
            <th class="py-2 px-4 border-b border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-700">ID</th>
            <th class="py-2 px-4 border-b border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-700">Nome</th>
            <th class="py-2 px-4 border-b border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-700">Preço</th>
            <th class="py-2 px-4 border-b border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-700">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td class="py-2 px-4 border-b border-gray-200">{{ product.id }}</td>
            <td class="py-2 px-4 border-b border-gray-200">{{ product.name }}</td>
            <td class="py-2 px-4 border-b border-gray-200">R{{ product.price | currency }}</td>
            <td class="py-2 px-4 border-b border-gray-200">
                <div class="flex ">
                    <button (click)="editProduct(product.id)" class="bg-blue-500 text-white px-3 py-1 rounded mr-2">Edit</button>
                    <button (click)="removeProduct(product.id)" class="bg-red-500 text-white px-3 py-1 rounded">Delete</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<dialog #productModal>
    <form method="dialog" class="p-4">
        <h2 class="text-lg font-semibold mb-4">Adicionar Novo Produto</h2>
        <div class="mb-4">
            <label for="productName" class="block text-sm font-medium text-gray-700">Nome do Produto</label>
            <input type="text" id="productName" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2">
        </div>
        <div class="mb-4">
            <label for="productPrice" class="block text-sm font-medium text-gray-700">Preço do Produto</label>
            <input type="number" id="productPrice" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2">
        </div>
        <div class="flex justify-end">
            <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded" (click)="saveProduct()">Salvar</button>
            <button type="button" class="ml-2 bg-gray-500 text-white px-4 py-2 rounded" (click)="productModal.close()">Cancelar</button>    
        </div>
    </form>
</dialog>


